button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 50%;
    width: 20%;
    height: 10%;
    transition: translate(-50%,-50%);
    box-shadow: 0px 0px 10px black;
}
body{
    background-color: blue;
}

button:hover{
    box-shadow: 0px 5px 15px black;
}